<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= pageName %></title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <%-include('includes/header.ejs')%>

    <div class="content">
      <div class="home">
        <img src="/img/books.png" />
        <h1>
          Welcome to BookLib!
          <br />
          Your personal library, always at your fingertips.
        </h1>
        <h2>
          Organize your books, discover new reads, and share your literary
          adventures with friends.
        </h2>
        <a href="/register">
          <button class="btn primary">Get Started Now</button></a
        >
      </div>
    </div>

    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
  </body>
</html>
