html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #efece3;
  justify-content: space-between;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* Container for the label and input */
.input-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.input-group span {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 12px;
  color: red;
}

/* Styling for the label */
label {
  position: absolute;
  top: 10px; /* Adjust to position the label within the input field */
  left: 10px;
  color: #999; /* Light gray color for the label */
  transition: all 0.2s ease; /* Smooth transition for the label */
  pointer-events: none; /* Prevent interaction with the label */
  font-family: 'Nunito';
}

/* Styling for the input */
input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove default outline on focus */
}

/* Styling when the input is focused */
input:focus {
  border-color: #007bff; /* Change border color on focus (blue) */
}

/* Styling when the input is focused or has content */
input:focus + label,
input:not(:placeholder-shown) + label {
  top: -20px; /* Move label above the input */
  left: 10px;
  font-size: 12px;
  color: #007bff; /* Change label color (blue) */
  padding: 0 5px;
}
.btn {
  padding: 10px 25px;
  border-radius: 25px;
  border-color: transparent;
  font-size: 18px;
}
.btn.primary {
  background-color: rgb(13, 92, 170);
  color: #fff;
}
.btn.primary:hover {
  background-color: rgb(12, 80, 148);
}
.btn.secondary {
}
.btn.disabled {
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo p {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 38px;
}

.header menu {
}
.header menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header menu ul li {
  list-style-type: none;
}
.header menu ul li a, .header menu ul li p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Varela Round';
  color: #000000;
}
.header menu ul li a{
  border-bottom: 2px solid transparent;
}
.header menu ul li a:hover {
  border-bottom-color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: 'Nunito';
  text-align: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 800px;
  text-align: center;
}

.home h1 {
  font-size: 48px;
  line-height: 50px;
  font-family: 'Nunito';
  margin-top: 0px;
}

.home h2 {
  font-family: 'Varela Round';
}

form {
  font-family: 'Nunito';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 100%;
  gap: 10px;
}
